/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 45px;
}

h2.form-signin-heading {
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    text-overflow: clip;
    overflow: hidden;
}

.form-signin-heading-underline {
    height: 4px;
    width: 58px;
    background-color: #4F89B1;
    margin-bottom: 30px;
    content: none;
}

.form-control {
    padding: 15px;
    height: auto;
    background-color: #ECF3F9;
}

.form-control:focus {
    border-color: #66AFE9;
}

.input-group-addon {
    background-color: #ECF3F9;
}

.btn {
    margin-right: 0;
    margin-left: 0;
    padding-right: 30px;
    padding-left: 30px;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type=checkbox] {
  display: none;
}

/*.checkbox label:before {*/
  /*border-radius: 3px;*/
/*}*/
input[type=checkbox]:checked {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
}

.has-error .form-control {
    background-color: #F4DADB;
    border-color: #F4DADB;
}

.has-error .form-control:focus {
    background-color: #F4DADB;
    border-color: #843534;
}

label {
    font-family: Arial;
    font-weight: normal;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #E5E5E5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.form-signin {
    max-width: 460px;
    padding: 25px 60px;
    margin: 0 auto;
    border: 3px solid #FFB30F;
    /*+border-radius: 10px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.form-signin .form-signin-heading {
    margin-bottom: 7px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header {
        padding-right: 0;
        padding-left: 0;
    }
    
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
