/* Space out content a bit */
@font-face {
    font-family: 'M-Geometria-Bold';
    src: url('../fonts/Geometria-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'M-Geometria-ExtaBlack';
    src: url('../fonts/Geometria-ExtaBlack.otf') format('truetype');
}


body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 45px;
}

h2.form-signin-heading {
    font-family: 'M-Geometria-ExtaBlack';
    font-weight: bold;
    font-size: 40px;
    text-overflow: clip;
    overflow: hidden;
}

.form-signin-heading-underline {
    height: 4px;
    width: 58px;
    background-color: #4F89B1;
    margin-bottom: 30px;
    content: none;
}

.form-control {
    padding: 15px;
    background-color: #ECF3F9;
    border-color: #ECF3F9;
    box-shadow: 0px 0px;
    height: auto;
}

.form-control:focus {
    border-color: #4F89B1;
    background-color: white;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: silver;
    box-shadow: 0px 0px;
    border-color: silver;
}

.input-group-addon {
    background-color: #ECF3F9;
    border-color: #ECF3F9;
}

.btn {
    margin-right: 0;
    margin-left: 0;
    padding-right: 30px;
    padding-left: 30px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    padding-left: 35px;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: -2px 16px 0 -35px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ECF3F9;
    /*+border-radius: 4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    font-family: Arial;
    background: url(../images/tick.png) 0px 0px / 16px 32px no-repeat #ECF3F9 !important;
}

input[type="checkbox"]:checked + label span {
    background: url(../images/tick.png) 2px -16px / 16px 32px no-repeat #ECF3F9 !important;
}

.has-error .form-control {
    background-color: #F4DADB;
    border-color: #F4DADB;
    box-shadow: none;
}

.has-error .form-control:focus {
    background-color: white;
    border-color: #843534;
}
.has-error .input-group-addon {
	background-color: #F4DADB;
	border-color: #F4DADB;
}

label {
    font-family: Arial;
    font-weight: normal;
}

.newFieldLine {
    margin-top: 25px;
}

.header-adv {
    padding-top: 35px;
    padding-bottom: 70px;
}

div.logo {
    background: url(../images/logo.png) no-repeat !important;
    height: 42px;
    width: 142px;
}

div.phone {
    font-family: 'M-Geometria-Bold';
    font-size: 20px;
    font-weight: bold;
}

div.phone span {
    color: #4385B7;
}

div#register-info {
    height: 206px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-size: contain;
    background-image: url(../images/info.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-bottom: 20px;
}

.phone-info {
    font-size: x-small;
}

.nav li .icon-acc,
.nav li .icon-acc:active {
    background: url(../images/acc.png) 10px center no-repeat !important;
    text-decoration: underline dotted #4385B7;
    color: #4385B7;
    text-align: left;
    padding-left: 30px;
}

.nav li a.icon-acc:focus,
.nav li a.icon-acc:hover {
    color: #305A7E;
    text-decoration: underline dotted #305A7E;
}

.checkbox-group {
    font-size: small;
    color: #8C949B;
    margin-top: 15px;
    margin-bottom: 30px;
}

.checkbox-group div.checkbox {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #E5E5E5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.form-signin {
    max-width: 482px;
    padding: 25px 59px;
    margin: 0 auto;
    border: 3px solid #FFB30F;
    /*+border-radius: 10px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.form-signin .form-signin-heading {
    margin-bottom: 7px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header {
        padding-right: 0;
        padding-left: 0;
    }
    
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
